# Bi and Tri Grams

In [14]:
import pandas as pd
#df_trial_essays = pd.read_csv(r"C:\Users\Admin\HC3 EDA\prepped essays.csv") # not good enoguh

>>> fit for bigram eval bec in order of sentences. Annoying because removed 'pros' and 'cons' . May be a better dataset. 
FOr phrase eval want to have some nouns , althouhg not proper nouns . So really need the step befroe 'prepped'

In [15]:
import pandas as pd

In [16]:
# reddit clean
df_reddit_clean = pd.read_csv(r"C:\Users\Admin\HC3 EDA\GriD\reddit_bigram_ready.csv")

In [17]:
df_reddit_clean

            word
0            The
1       standoff
2             in
3            was
4              a
...          ...
100205     least
100206       the
100207   regular
100208   minimum
100209      wage

[100210 rows x 1 columns]

In [18]:
# answers
answer1 = pd.read_csv(r"C:\Users\Admin\HC3 EDA\answers_clean1.csv")
answer1 = answer1.drop(columns=['Unnamed: 0'])

In [19]:
# essays 
essay1 = pd.read_csv(r"C:\Users\Admin\HC3 EDA\essays_clean1.csv")
essay1 =essay1.drop(columns =['Unnamed: 0'])

In [36]:
answer1 = answer1.dropna()

In [31]:
essay1 = essay1.dropna()

In [ ]:
answer1 = answer1.rename(columns={'col1': 'word'})
answer1

In [ ]:
essay1 =essay1.rename(columns={'col1' :'word'})
essay1

In [41]:
# concat all into one big df 
# first test:
all_3 = pd.concat([df_reddit_clean]+[essay1]+[answer1])

In [42]:
all_3

               word
0               The
1          standoff
2                in
3               was
4                 a
...             ...
538476  environment
538477          for
538478        teens
538479          and
538480     families

[605458 rows x 1 columns]

In [43]:
# save to csv just in case
all_3.to_csv('ngram_prepped_merged.csv', index=False)

> Using all_3 df for bigram eval .

>>> skipping paraphrases

# PLAN : KEEP ALL NOUNS and manually remove after tri and bigram eval , so not to lose meaningful , general phrases w nouns . Remove proper nouns.
# MAYBE KEEP THE FUNCTIONAL WORDS ( like sapling.ai)

# Bi-grams

In [46]:
# trying one way
def find_ngrams(input_list, n):
    return list(zip(*[input_list[i:] for i in range(n)]))


all_3['bigrams'] = all_3['word'].map(lambda x: find_ngrams(x, 2))
all_3.head()

       word                                            bigrams
0       The                                   [(T, h), (h, e)]
1  standoff  [(s, t), (t, a), (a, n), (n, d), (d, o), (o, f...
2        in                                           [(i, n)]
3       was                                   [(w, a), (a, s)]
4         a                                                 []

In [3]:
import pandas as pd
all_3 = pd.read_csv(r"C:\Users\Admin\HC3 EDA\GriD\ngram_prepped_merged.csv")

# for wor din all3  " ".join

In [63]:
all_3

               word
0               The
1          standoff
2                in
3               was
4                 a
...             ...
605453  environment
605454          for
605455        teens
605456          and
605457     families

[605458 rows x 1 columns]

In [4]:
one_string = ' '.join(all_3['word'].tolist())
one_string1 =  one_string.lower() # dont need for loop becasue .lower() lowercases the entire string 
# one_string1

In [5]:
# save to text file
text_file = open(r'one string.txt', 'w')

text_file.write(one_string1)
text_file.close()

UnicodeEncodeError: 'charmap' codec can't encode characters in position 476528-476529: character maps to <undefined>

In [ ]:
# now trying bigrams with method # 1

# A : Make df of string

all_3['bigrams'] = all_3['word'].map(lambda x: find_ngrams(x, 2))
all_3.head()

In [ ]:
ng =find_ngrams(one_string1,2)
ng

In [7]:
# method #2
import nltk
from nltk import ngrams
sentence = input(one_string1)
n = int(input("2"))
n_grams = ngrams(sentence.split(), n)
for grams in n_grams:
    print(grams)

In [1]:
from nltk.collocations import BigramCollocationFinder
from nltk.metrics import BigramAssocMeasures

In [6]:
# Create a BigramCollocationFinder
finder = BigramCollocationFinder.from_words(one_string1)

In [9]:
finder

# need to prep more. remove punct

In [7]:

# Get the most common bigrams
bigram_measures = BigramAssocMeasures()
found_bigrams = finder.nbest(bigram_measures.pmi, 20)