# Bi and Tri Grams

In [2]:
import pandas as pd
#df_trial_essays = pd.read_csv(r"C:\Users\Admin\HC3 EDA\prepped essays.csv") # not good enoguh

>>> fit for bigram eval bec in order of sentences. Annoying because removed 'pros' and 'cons' . May be a better dataset. 
FOr phrase eval want to have some nouns , althouhg not proper nouns . So really need the step befroe 'prepped'

In [3]:
import pandas as pd

In [153]:
# reddit clean
df_reddit_clean = pd.read_csv(r"C:\Users\Admin\HC3 EDA\GriD\reddit_bigram_ready.csv")

In [5]:
df_reddit_clean

            word
0            The
1       standoff
2             in
3            was
4              a
...          ...
100205     least
100206       the
100207   regular
100208   minimum
100209      wage

[100210 rows x 1 columns]

In [6]:
# answers
answer1 = pd.read_csv(r"C:\Users\Admin\HC3 EDA\answers_clean1.csv")
answer1 = answer1.drop(columns=['Unnamed: 0'])

In [7]:
# essays 
essay1 = pd.read_csv(r"C:\Users\Admin\HC3 EDA\essays_clean1.csv")
essay1 =essay1.drop(columns =['Unnamed: 0'])

In [8]:
answer1 = answer1.dropna()

In [9]:
essay1 = essay1.dropna()

In [10]:
answer1 = answer1.rename(columns={'col1': 'word'})
answer1

               word
0              when
1       considering
2               the
3              pros
4               and
...             ...
538476  environment
538477          for
538478        teens
538479          and
538480     families

[486524 rows x 1 columns]

In [11]:
essay1 =essay1.rename(columns={'col1' :'word'})
essay1

             word
0           there
1             are
2            many
3       different
4            best
...           ...
20892  understand
20893         the
20894       world
20895      around
20896          us

[18724 rows x 1 columns]

In [12]:
# concat all into one big df 
# first test:
all_3 = pd.concat([df_reddit_clean]+[essay1]+[answer1])

In [13]:
all_3

               word
0               The
1          standoff
2                in
3               was
4                 a
...             ...
538476  environment
538477          for
538478        teens
538479          and
538480     families

[605458 rows x 1 columns]

In [14]:
# save to csv just in case
all_3.to_csv('ngram_prepped_merged.csv', index=False)

> Using all_3 df for bigram eval .

>>> skipping paraphrases

# PLAN : KEEP ALL NOUNS and manually remove after tri and bigram eval , so not to lose meaningful , general phrases w nouns . Remove proper nouns.
# MAYBE KEEP THE FUNCTIONAL WORDS ( like sapling.ai)

# Bi-grams

In [15]:
# trying one way
def find_ngrams(input_list, n):
    return list(zip(*[input_list[i:] for i in range(n)]))


all_3['bigrams'] = all_3['word'].map(lambda x: find_ngrams(x, 2))
all_3.head()

       word                                            bigrams
0       The                                   [(T, h), (h, e)]
1  standoff  [(s, t), (t, a), (a, n), (n, d), (d, o), (o, f...
2        in                                           [(i, n)]
3       was                                   [(w, a), (a, s)]
4         a                                                 []

In [29]:
import pandas as pd
all_3 = pd.read_csv(r"C:\Users\Admin\HC3 EDA\GriD\ngram_prepped_merged.csv")

# for wor din all3  " ".join

In [30]:
all_3

               word
0               The
1          standoff
2                in
3               was
4                 a
...             ...
605453  environment
605454          for
605455        teens
605456          and
605457     families

[605458 rows x 1 columns]

In [31]:
one_string = ' '.join(all_3['word'].tolist())
one_string1 =  one_string.lower() # dont need for loop becasue .lower() lowercases the entire string 
# one_string1

In [22]:
# save to text file
# text_file = open(r'one string.txt', 'w')

# text_file.write(one_string1)
# text_file.close()

In [23]:
# now trying bigrams with method # 1

# A : Make df of string

all_3['bigrams'] = all_3['word'].map(lambda x: find_ngrams(x, 2))
all_3.head()

       word                                            bigrams
0       The                                   [(T, h), (h, e)]
1  standoff  [(s, t), (t, a), (a, n), (n, d), (d, o), (o, f...
2        in                                           [(i, n)]
3       was                                   [(w, a), (a, s)]
4         a                                                 []

In [24]:
ng =find_ngrams(one_string1,2)
ng

[('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 's'),
 ('s', 't'),
 ('t', 'a'),
 ('a', 'n'),
 ('n', 'd'),
 ('d', 'o'),
 ('o', 'f'),
 ('f', 'f'),
 ('f', ' '),
 (' ', 'i'),
 ('i', 'n'),
 ('n', ' '),
 (' ', 'w'),
 ('w', 'a'),
 ('a', 's'),
 ('s', ' '),
 (' ', 'a'),
 ('a', ' '),
 (' ', 'c'),
 ('c', 'o'),
 ('o', 'm'),
 ('m', 'p'),
 ('p', 'l'),
 ('l', 'e'),
 ('e', 'x'),
 ('x', ' '),
 (' ', 'a'),
 ('a', 'n'),
 ('n', 'd'),
 ('d', ' '),
 (' ', 'c'),
 ('c', 'o'),
 ('o', 'n'),
 ('n', 't'),
 ('t', 'r'),
 ('r', 'o'),
 ('o', 'v'),
 ('v', 'e'),
 ('e', 'r'),
 ('r', 's'),
 ('s', 'i'),
 ('i', 'a'),
 ('a', 'l'),
 ('l', ' '),
 (' ', 'e'),
 ('e', 'v'),
 ('v', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'a'),
 ('a', 't'),
 ('t', ' '),
 (' ', 'g'),
 ('g', 'a'),
 ('a', 'r'),
 ('r', 'n'),
 ('n', 'e'),
 ('e', 'r'),
 ('r', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 's'),
 ('s', 'i'),
 ('i', 'g'),
 ('g', 'n'),
 ('n', 'i'),
 ('i', 'f'),
 ('f', 'i'),
 ('i', 'c'),
 ('c', 'a'),
 ('a', 'n'),
 ('n', 't'),
 ('t', ' '),
 (' ', 'a'),
 ('a', 't'),
 ('t', 't'),
 ('t', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 'a'),
 ('a', 'n'),
 ('n', 'd'),
 ('d', ' '),
 (' ', 's'),
 ('s', 'p'),
 ('p', 'a'),
 ('a', 'r'),
 ('r', 'k'),
 ('k', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 'v'),
 ('v', 'a'),
 ('a', 'r'),
 ('r', 'i'),
 ('i', 'o'),
 ('o', 'u'),
 ('u', 's'),
 ('s', ' '),
 (' ', 'r'),
 ('r', 'e'),
 ('e', 'a'),
 ('a', 'c'),
 ('c', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', 's'),
 ('s', ' '),
 (' ', 'a'),
 ('a', 'm'),
 ('m', 'o'),
 ('o', 'n'),
 ('n', 'g'),
 ('g', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'a'),
 ('a', 'm'),
 ('m', 'e'),
 ('e', 'r'),
 ('r', 'i'),
 ('i', 'c'),
 ('c', 'a'),
 ('a', 'n'),
 ('n', ' '),
 (' ', 'p'),
 ('p', 'o'),
 ('o', 'p'),
 ('p', 'u'),
 ('u', 'l'),
 ('l', 'a'),
 ('a', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 'i'),
 ('i', 't'),
 ('t', ' '),
 (' ', 'i'),
 ('i', 's'),
 ('s', ' '),
 (' ', 'i'),
 ('i', 'm'),
 ('m', 'p'),
 ('p', 'o'),
 ('o', 'r'),
 ('r', 't'),
 ('t', 'a'),
 ('a', 'n'),
 ('n', 't'),
 ('t', ' '),
 (' ', 't'),
 ('t', 'o'),
 ('o', ' '),
 (' ', 'n'),
 ('n', 'o'),
 ('o', 't'),
 ('t', 'e'),
 ('e', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'a'),
 ('a', 't'),
 ('t', ' '),
 (' ', 'n'),
 ('n', 'o'),
 ('o', 't'),
 ('t', ' '),
 (' ', 'a'),
 ('a', 'l'),
 ('l', 'l'),
 ('l', ' '),
 (' ', 's'),
 ('s', 'e'),
 ('e', 'g'),
 ('g', 'm'),
 ('m', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', 's'),
 ('s', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'p'),
 ('p', 'o'),
 ('o', 'p'),
 ('p', 'u'),
 ('u', 'l'),
 ('l', 'a'),
 ('a', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 'r'),
 ('r', 'a'),
 ('a', 'l'),
 ('l', 'l'),
 ('l', 'i'),
 ('i', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 'a'),
 ('a', 'r'),
 ('r', 'o'),
 ('o', 'u'),
 ('u', 'n'),
 ('n', 'd'),
 ('d', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'l'),
 ('l', 'e'),
 ('e', 'a'),
 ('a', 'd'),
 ('d', 'e'),
 ('e', 'r'),
 ('r', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', ','),
 (',', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 'a'),
 ('a', 'n'),
 ('n', 'd'),
 ('d', ' '),
 (' ', 'h'),
 ('h', 'i'),
 ('i', 's'),
 ('s', ' '),
 (' ', 'a'),
 ('a', 'c'),
 ('c', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', 's'),
 ('s', ' '),
 (' ', 'h'),
 ('h', 'o'),
 ('o', 'w'),
 ('w', 'e'),
 ('e', 'v'),
 ('v', 'e'),
 ('e', 'r'),
 ('r', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', 'r'),
 ('r', 'e'),
 ('e', ' '),
 (' ', 'w'),
 ('w', 'e'),
 ('e', 'r'),
 ('r', 'e'),
 ('e', ' '),
 (' ', 'c'),
 ('c', 'e'),
 ('e', 'r'),
 ('r', 't'),
 ('t', 'a'),
 ('a', 'i'),
 ('i', 'n'),
 ('n', ' '),
 (' ', 'f'),
 ('f', 'a'),
 ('a', 'c'),
 ('c', 't'),
 ('t', 'o'),
 ('o', 'r'),
 ('r', 's'),
 ('s', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'a'),
 ('a', 't'),
 ('t', ' '),
 (' ', 'c'),
 ('c', 'o'),
 ('o', 'n'),
 ('n', 't'),
 ('t', 'r'),
 ('r', 'i'),
 ('i', 'b'),
 ('b', 'u'),
 ('u', 't'),
 ('t', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 't'),
 ('t', 'o'),
 ('o', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 's'),
 ('s', 'u'),
 ('u', 'p'),
 ('p', 'p'),
 ('p', 'o'),
 ('o', 'r'),
 ('r', 't'),
 ('t', ' '),
 (' ', 'r'),
 ('r', 'e'),
 ('e', 'c'),
 ('c', 'e'),
 ('e', 'i'),
 ('i', 'v'),
 ('v', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 'b'),
 ('b', 'y'),
 ('y', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'g'),
 ('g', 'r'),
 ('r', 'o'),
 ('o', 'u'),
 ('u', 'p'),
 ('p', ' '),
 (' ', 'd'),
 ('d', 'u'),
 ('u', 'r'),
 ('r', 'i'),
 ('i', 'n'),
 ('n', 'g'),
 ('g', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'a'),
 ('a', 't'),
 ('t', ' '),
 (' ', 't'),
 ('t', 'i'),
 ('i', 'm'),
 ('m', 'e'),
 ('e', ' '),
 (' ', 'c'),
 ('c', 'o'),
 ('o', 'v'),
 ('v', 'e'),
 ('e', 'r'),
 ('r', 'a'),
 ('a', 'g'),
 ('g', 'e'),
 ('e', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'm'),
 ('m', 'e'),
 ('e', 'd'),
 ('d', 'i'),
 ('i', 'a'),
 ('a', ' '),
 (' ', 'p'),
 ('p', 'l'),
 ('l', 'a'),
 ('a', 'y'),
 ('y', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 'a'),
 ('a', ' '),
 (' ', 's'),
 ('s', 'i'),
 ('i', 'g'),
 ('g', 'n'),
 ('n', 'i'),
 ('i', 'f'),
 ('f', 'i'),
 ('i', 'c'),
 ('c', 'a'),
 ('a', 'n'),
 ('n', 't'),
 ('t', ' '),
 (' ', 'r'),
 ('r', 'o'),
 ('o', 'l'),
 ('l', 'e'),
 ('e', ' '),
 (' ', 'i'),
 ('i', 'n'),
 ('n', ' '),
 (' ', 's'),
 ('s', 'h'),
 ('h', 'a'),
 ('a', 'p'),
 ('p', 'i'),
 ('i', 'n'),
 ('n', 'g'),
 ('g', ' '),
 (' ', 'p'),
 ('p', 'u'),
 ('u', 'b'),
 ('b', 'l'),
 ('l', 'i'),
 ('i', 'c'),
 ('c', ' '),
 (' ', 'p'),
 ('p', 'e'),
 ('e', 'r'),
 ('r', 'c'),
 ('c', 'e'),
 ('e', 'p'),
 ('p', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'e'),
 ('e', 'v'),
 ('v', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', 's'),
 ('s', ' '),
 (' ', 'i'),
 ('i', 'n'),
 ('n', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'i'),
 ('i', 'd'),
 ('d', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', 'i'),
 ('i', 'f'),
 ('f', 'i'),
 ('i', 'c'),
 ('c', 'a'),
 ('a', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'r'),
 ('r', 'u'),
 ('u', 'i'),
 ('i', 'n'),
 ('n', 's'),
 ('s', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 'i'),
 ('i', 's'),
 ('s', ' '),
 (' ', 'b'),
 ('b', 'a'),
 ('a', 's'),
 ('s', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 'a'),
 ('a', ' '),
 (' ', 'c'),
 ('c', 'o'),
 ('o', 'm'),
 ('m', 'b'),
 ('b', 'i'),
 ('i', 'n'),
 ('n', 'a'),
 ('a', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 'a'),
 ('a', 'r'),
 ('r', 'c'),
 ('c', 'h'),
 ('h', 'a'),
 ('a', 'e'),
 ('e', 'o'),
 ('o', 'l'),
 ('l', 'o'),
 ('o', 'g'),
 ('g', 'i'),
 ('i', 'c'),
 ('c', 'a'),
 ('a', 'l'),
 ('l', ' '),
 (' ', 'e'),
 ('e', 'v'),
 ('v', 'i'),
 ('i', 'd'),
 ('d', 'e'),
 ('e', 'n'),
 ('n', 'c'),
 ('c', 'e'),
 ('e', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 'h'),
 ('h', 'i'),
 ('i', 's'),
 ('s', 't'),
 ('t', 'o'),
 ('o', 'r'),
 ('r', 'i'),
 ('i', 'c'),
 ('c', 'a'),
 ('a', 'l'),
 ('l', ' '),
 (' ', 'a'),
 ('a', 'c'),
 ('c', 'c'),
 ('c', 'o'),
 ('o', 'u'),
 ('u', 'n'),
 ('n', 't'),
 ('t', 's'),
 ('s', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 'a'),
 ('a', 'n'),
 ('n', 'd'),
 ('d', ' '),
 (' ', 'l'),
 ('l', 'i'),
 ('i', 't'),
 ('t', 'e'),
 ('e', 'r'),
 ('r', 'a'),
 ('a', 'r'),
 ('r', 'y'),
 ('y', ' '),
 (' ', 's'),
 ('s', 'o'),
 ('o', 'u'),
 ('u', 'r'),
 ('r', 'c'),
 ('c', 'e'),
 ('e', 's'),
 ('s', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 's'),
 ('s', 'i'),
 ('i', 't'),
 ('t', 'e'),
 ('e', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 'l'),
 ('l', 'o'),
 ('o', 'c'),
 ('c', 'a'),
 ('a', 't'),
 ('t', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 'i'),
 ('i', 'n'),
 ('n', ' '),
 (' ', 'm'),
 ('m', 'o'),
 ('o', 'd'),
 ('d', 'e'),
 ('e', 'r'),
 ('r', 'n'),
 ('n', '-'),
 ('-', 'd'),
 ('d', 'a'),
 ('a', 'y'),
 ('y', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 'w'),
 ('w', 'a'),
 ('a', 's'),
 ('s', ' '),
 (' ', 'i'),
 ('i', 'n'),
 ('n', 'i'),
 ('i', 't'),
 ('t', 'i'),
 ('i', 'a'),
 ('a', 'l'),
 ('l', 'l'),
 ('l', 'y'),
 ('y', ' '),
 (' ', 'd'),
 ('d', 'i'),
 ('i', 's'),
 ('s', 'c'),
 ('c', 'o'),
 ('o', 'v'),
 ('v', 'e'),
 ('e', 'r'),
 ('r', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 'b'),
 ('b', 'y'),
 ('y', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'g'),
 ('g', 'e'),
 ('e', 'r'),
 ('r', 'm'),
 ('m', 'a'),
 ('a', 'n'),
 ('n', ' '),
 (' ', 'a'),
 ('a', 'r'),
 ('r', 'c'),
 ('c', 'h'),
 ('h', 'a'),
 ('a', 'e'),
 ('e', 'o'),
 ('o', 'l'),
 ('l', 'o'),
 ('o', 'g'),
 ('g', 'i'),
 ('i', 's'),
 ('s', 't'),
 ('t', ' '),
 (' ', 'i'),
 ('i', 'n'),
 ('n', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'l'),
 ('l', 'a'),
 ('a', 't'),
 ('t', 'e'),
 ('e', ' '),
 (' ', '1'),
 ('1', '9'),
 ('9', 't'),
 ('t', 'h'),
 ('h', ' '),
 (' ', 'c'),
 ('c', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', 'u'),
 ('u', 'r'),
 ('r', 'y'),
 ('y', ' '),
 (' ', 'w'),
 ('w', 'h'),
 ('h', 'i'),
 ('i', 'l'),
 ('l', 'e'),
 ('e', ' '),
 (' ', "'"),
 ("'", 's'),
 ('s', ' '),
 (' ', 'e'),
 ('e', 'x'),
 ('x', 'c'),
 ('c', 'a'),
 ('a', 'v'),
 ('v', 'a'),
 ('a', 't'),
 ('t', 'i'),
 ('i', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 'm'),
 ('m', 'e'),
 ('e', 't'),
 ('t', 'h'),
 ('h', 'o'),
 ('o', 'd'),
 ('d', 's'),
 ('s', ' '),
 (' ', 'w'),
 ('w', 'e'),
 ('e', 'r'),
 ('r', 'e'),
 ('e', ' '),
 (' ', 'n'),
 ('n', 'o'),
 ('o', 't'),
 ('t', ' '),
 (' ', 'a'),
 ('a', 'l'),
 ('l', 'w'),
 ('w', 'a'),
 ('a', 'y'),
 ('y', 's'),
 ('s', ' '),
 (' ', 's'),
 ('s', 'c'),
 ('c', 'i'),
 ('i', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', 'i'),
 ('i', 'f'),
 ('f', 'i'),
 ('i', 'c'),
 ('c', 'a'),
 ('a', 'l'),
 ('l', 'l'),
 ('l', 'y'),
 ('y', ' '),
 (' ', 'r'),
 ('r', 'i'),
 ('i', 'g'),
 ('g', 'o'),
 ('o', 'r'),
 ('r', 'o'),
 ('o', 'u'),
 ('u', 's'),
 ('s', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 's'),
 ('s', 'u'),
 ('u', 'b'),
 ('b', 's'),
 ('s', 'e'),
 ('e', 'q'),
 ('q', 'u'),
 ('u', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', ' '),
 (' ', 'a'),
 ('a', 'r'),
 ('r', 'c'),
 ('c', 'h'),
 ('h', 'a'),
 ('a', 'e'),
 ('e', 'o'),
 ('o', 'l'),
 ('l', 'o'),
 ('o', 'g'),
 ('g', 'i'),
 ('i', 'c'),
 ('c', 'a'),
 ('a', 'l'),
 ('l', ' '),
 (' ', 'w'),
 ('w', 'o'),
 ('o', 'r'),
 ('r', 'k'),
 ('k', ' '),
 (' ', 'h'),
 ('h', 'a'),
 ('a', 's'),
 ('s', ' '),
 (' ', 'c'),
 ('c', 'o'),
 ('o', 'n'),
 ('n', 'f'),
 ('f', 'i'),
 ('i', 'r'),
 ('r', 'm'),
 ('m', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'e'),
 ('e', 'x'),
 ('x', 'i'),
 ('i', 's'),
 ('s', 't'),
 ('t', 'e'),
 ('e', 'n'),
 ('n', 'c'),
 ('c', 'e'),
 ('e', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'a'),
 ('a', 'n'),
 ('n', 'c'),
 ('c', 'i'),
 ('i', 'e'),
 ('e', 'n'),
 ('n', 't'),
 ('t', ' '),
 (' ', 'c'),
 ('c', 'i'),
 ('i', 't'),
 ('t', 'y'),
 ('y', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 'k'),
 ('k', 'e'),
 ('e', 'y'),
 ('y', ' '),
 (' ', 'p'),
 ('p', 'i'),
 ('i', 'e'),
 ('e', 'c'),
 ('c', 'e'),
 ('e', 's'),
 ('s', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 'e'),
 ('e', 'v'),
 ('v', 'i'),
 ('i', 'd'),
 ('d', 'e'),
 ('e', 'n'),
 ('n', 'c'),
 ('c', 'e'),
 ('e', ' '),
 (' ', 'i'),
 ('i', 's'),
 ('s', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 's'),
 ('s', 't'),
 ('t', 'r'),
 ('r', 'a'),
 ('a', 't'),
 ('t', 'i'),
 ('i', 'g'),
 ('g', 'r'),
 ('r', 'a'),
 ('a', 'p'),
 ('p', 'h'),
 ('h', 'y'),
 ('y', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 't'),
 ('t', 'h'),
 ('h', 'e'),
 ('e', ' '),
 (' ', 's'),
 ('s', 'i'),
 ('i', 't'),
 ('t', 'e'),
 ('e', ' '),
 (' ', "'"),
 ("'", "'"),
 ("'", ' '),
 (' ', 'b'),
 ('b', 'y'),
 ('y', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 'r'),
 ('r', 'e'),
 ('e', 'l'),
 ('l', 'e'),
 ('e', 'a'),
 ('a', 's'),
 ('s', 'e'),
 ('e', 'd'),
 ('d', ' '),
 (' ', 'i'),
 ('i', 'n'),
 ('n', ' '),
 (' ', ','),
 (',', ' '),
 (' ', 'd'),
 ('d', 'o'),
 ('o', 'e'),
 ('e', 's'),
 ('s', ' '),
 (' ', 't'),
 ('t', 'o'),
 ('o', 'u'),
 ('u', 'c'),
 ('c', 'h'),
 ('h', ' '),
 (' ', 'u'),
 ('u', 'p'),
 ('p', 'o'),
 ('o', 'n'),
 ('n', ' '),
 (' ', 's'),
 ('s', 'o'),
 ('o', 'm'),
 ('m', 'e'),
 ('e', ' '),
 (' ', 'a'),
 ('a', 's'),
 ('s', 'p'),
 ('p', 'e'),
 ('e', 'c'),
 ('c', 't'),
 ('t', 's'),
 ('s', ' '),
 (' ', 'o'),
 ('o', 'f'),
 ('f', ' '),
 (' ', 'h'),
 ('h', 'i'),
 ('i', 'g'),
 ('g', 'h'),
 ('h', ' '),
 (' ', 's'),
 ('s', 'c'),
 ('c', 'h'),
 ('h', 'o'),
 ('o', 'o'),
 ('o', 'l'),
 ('l', ' '),
 (' ', 'd'),
 ('d', 'y'),
 ('y', 'n'),
 ('n', 'a'),
 ('a', 'm'),
 ('m', 'i'),
 ('i', 'c'),
 ('c', 's'),
 ('s', ' '),
 ...]

In [25]:
# method #2
import nltk
from nltk import ngrams
sentence = input(one_string1)
n = int(input("2"))
n_grams = ngrams(sentence.split(), n)
for grams in n_grams:
    print(grams)

In [ ]:
from nltk.collocations import BigramCollocationFinder
from nltk.metrics import BigramAssocMeasures

In [ ]:
# Create a BigramCollocationFinder
finder = BigramCollocationFinder.from_words(one_string1)
found = finder.nbest(bigram_measures.pmi, 100)
found

[('₁', '₀'),
 ('6', '°'),
 ('0', '^'),
 ('2', '0'),
 ('6', '4'),
 ('8', '6'),
 ('3', '6'),
 ('4', '4'),
 ('3', '3'),
 ('3', '.'),
 ('.', '7'),
 ('3', '0'),
 ('6', '0'),
 ('.', '6'),
 (':', '1'),
 ('7', '4'),
 ('8', '7'),
 ('9', '6'),
 ('7', '0'),
 ('1', '8'),
 ('1', '9'),
 ('9', '4'),
 ('9', '3'),
 ('7', '9'),
 ('9', '7'),
 ('7', '7'),
 ('^', '-'),
 ('2', '3'),
 ('3', '5'),
 ('6', '7'),
 ('2', '.'),
 ('9', '2'),
 ('6', '8'),
 ('2', '4'),
 ('1', '7'),
 ('4', '0'),
 ('4', '9'),
 ('1', '6'),
 ('2', '2'),
 ('8', '5'),
 ('9', '9'),
 ('5', '0'),
 ('2', '7'),
 ('1', '4'),
 ('3', '9'),
 ('0', '0'),
 ('4', '-'),
 ('1', '3'),
 ('4', '5'),
 ('0', '6'),
 ('6', '9'),
 ('8', '0'),
 ('2', '9'),
 ('8', '9'),
 ('9', '8'),
 ('-', '3'),
 ('9', '1'),
 ('7', '-'),
 ('6', '5'),
 ('-', '2'),
 ('5', '8'),
 ('0', '-'),
 ('8', '-'),
 ('9', '5'),
 ('1', '0'),
 ('1', '2'),
 ('-', '1'),
 ('-', '6'),
 ('6', '-'),
 ("'", "'"),
 ('2', '-'),
 ('6', '1'),
 ('9', '-'),
 ('2', '1'),
 ('1', '1'),
 ('-', '5'),
 ('1', '5'),
 ('1', '-'),
 ('5', '-'),
 ('g', '₁'),
 ('°', 'f'),
 (',', '4'),
 ('z', 'z'),
 ('q', 'u'),
 (',', '7'),
 ('x', 'p'),
 ('f', 'é'),
 ('d', '—'),
 ('—', 'd'),
 ('—', 'c'),
 ('.', 'g'),
 ('a', 'ç'),
 ('a', 'í'),
 ('ç', 'a'),
 ('-', 'q'),
 ('y', '/'),
 ('i', '5'),
 ('2', ','),
 ('i', 'z'),
 ('r', '/')]

In [ ]:
finder

# need to prep more. remove punct

In [ ]:

# Get the most common bigrams
bigram_measures = nltk.collocations.BigramAssocMeasures()
found_bigrams = finder.nbest(bigram_measures.pmi, 20)

In [ ]:
found_bigrams

In [ ]:
# gives phrases but no rank 
# from nltk.util import ngrams

# n = 2
# sentence = one_string1
# unigrams = ngrams(sentence.split(), n)

# for item in unigrams:
#     print(item)

## ^ works but does not give frequency or pmi .

In [ ]:
# length of one_string1
len(one_string1)

3622049

# ^ for article

In [ ]:
# method #3 
import nltk
bigrams = nltk.collocations.BigramAssocMeasures()
#trigrams = nltk.collocations.TrigramAssocMeasures()
bigramFinder = nltk.collocations.BigramCollocationFinder.from_words(one_string1.split())
#trigramFinder = nltk.collocations.TrigramCollocationFinder.from_words(one_string1)

In [ ]:
# cont'
#bigrams
bigram_freq = bigramFinder.ngram_fd.items()
bigramFreqTable = pd.DataFrame(list(bigram_freq), columns=['bigram','freq']).sort_values(by='freq', ascending=False)
#trigrams
#trigram_freq = trigramFinder.ngram_fd.items()
#trigramFreqTable = pd.DataFrame(list(trigram_freq), columns=['trigram','freq']).sort_values(by='freq', ascending=False)

In [ ]:
bigramFreqTable

                      bigram  freq
21                  (it, is)  2400
30                 (of, the)  2285
1179               (can, be)  2258
74                 (in, the)  2215
970                (on, the)  1456
...                      ...   ...
73361        (rebellion, in)     1
73360        (of, rebellion)     1
73357          (trusted, or)     1
73356         (not, trusted)     1
175161  (circumstances, but)     1

[175162 rows x 2 columns]

In [ ]:
bigramFreqTable.head(20)

               bigram  freq
21           (it, is)  2400
30          (of, the)  2285
1179        (can, be)  2258
74          (in, the)  2215
970         (on, the)  1456
565        (such, as)  1212
51          (to, the)  1155
964           (in, a)  1062
23    (important, to)  1019
983          (to, be)  1010

In [50]:
# v2 . Try to find pmi and freq 
# finder.apply_freq_filter(3)
# finder.nbest(bigram_measures.pmi, 10)
import nltk
from nltk.collocations import *
bigram_measures = nltk.collocations.BigramAssocMeasures()
trigram_measures = nltk.collocations.TrigramAssocMeasures()

# change this to read in your data
finder = BigramCollocationFinder.from_words(one_string1.split())
finder2 = TrigramCollocationFinder.from_words(one_string1.split())

# only bigrams that appear 10+ times
finder.apply_freq_filter(10)
# only trigrams that appear  10+ time
finder2.apply_freq_filter(10)

# quadgram
quadgram_measures = nltk.collocations.QuadgramAssocMeasures()
finder3 =QuadgramCollocationFinder.from_words(one_string1.split())
finder3.apply_freq_filter(10)
# return the 10 n-grams with the highest PMI
#print(finder.nbest(bigram_measures.pmi, 1000))
# print

In [ ]:
# from collections import _itemgetter

In [ ]:
# from https://stackoverflow.com/questions/25924932/find-frequency-and-pmi-score-of-a-bigram-using-nltk-python-3?rq=3  
# maybe play around with and modifiy functions to include freq

# def nbest(self, score_fn, n):
#     """Returns the top n ngrams when scored by the given function."""
#     return [p for p,s in self.score_ngrams(score_fn)[:n]]
# #So you could call the score_ngrams() directly without getting the nbest since it returns a sorted list anyways.:

# def score_ngrams(self, score_fn1 , score_fn2):
#     """Returns a sequence of (ngram, score) pairs ordered from highest to
#     lowest score, as determined by the scoring function provided.

#     """
#     # freq = FredDist(self )
#     return sorted(self._score_ngrams(score_fn1),self._score_ngrams(score_fn2),
#                   key=_itemgetter(1), reverse=True)

In [ ]:
# # input raw_freq
# for i in finder.score_ngrams(bigram_measures.raw_freq):
#     print(i)
# print()

In [ ]:
# # gives pmi for bigrams 
# # based on above function

# for i in finder.score_ngrams(bigram_measures.pmi):
#     print(i)
# # print()

In [ ]:
bigram_freq1 = finder.ngram_fd.items()
bigram_freq1

In [ ]:
trigram_freq1 = finder2.ngram_fd.items()
trigram_freq1

In [ ]:
quadgram_freq1 = finder3.ngram_fd.items()
quadgram_freq1

In [ ]:
for item in bigram_freq1:
    bigram, pmi = item
    print(bigram)

In [ ]:
# bigram_freq = bigramFinder.ngram_fd.items()
bigram_pmi = [i for i in finder.score_ngrams(bigram_measures.pmi)] # [(( phrase1, phrase2 ), pmi) ]
#bigramFreqTable = pd.DataFrame(list(bigram_freq1), columns=['bigram','freq']).sort_values(by='freq', ascending=False)

In [ ]:
trigram_pmi = [i for i in finder2.score_ngrams(trigram_measures.pmi)] # [(( phrase1, phrase2 ), pmi) ]

In [52]:
quadgram_pmi = [i for i in finder3.score_ngrams(quadgram_measures.pmi)]

In [ ]:
quadgram_pmi

In [ ]:
trigram_pmi

In [ ]:
bigram_freq1

In [ ]:
# bigram list creation
pmi_list =[]
count_list =  []
phrase_list =[]
bigram_list = [] # to check if bigram order = phrase list order
for phrase , pmi in bigram_pmi:
    for item in bigram_freq1:
        bigram, count = item
        if bigram == phrase:
            pmi_list.append(pmi) # pmi for the bigram  = phrase
            count_list.append(count)  # count for the phrase = bigram 
            phrase_list.append(phrase) # phrase = bigram
            bigram_list.append(bigram)

In [ ]:
# trigram list creation

pmi2_list =[]
count2_list =  []
phrase2_list =[]
bigram2_list = [] # to check if bigram order = phrase list order
for phrase , pmi in trigram_pmi:
    for item in trigram_freq1:
        bigram, count = item
        if bigram == phrase:
            pmi2_list.append(pmi) # pmi for the bigram  = phrase
            count2_list.append(count)  # count for the phrase = bigram 
            phrase2_list.append(phrase) # phrase = bigram
            bigram2_list.append(bigram)

In [54]:
# quadgram list creation
pmi3_list =[]
count3_list =[]
phrase3_list =[]
for phrase, pmi in quadgram_pmi:
    for item in quadgram_freq1:
        quadgram,count = item
        if quadgram == phrase:
            pmi3_list.append(pmi)
            count3_list.append(count)
            phrase3_list.append(phrase)

In [ ]:
#checking
for item in bigram_freq1:
        bigram, count = item
        if bigram == ('fossil', 'fuels'):
            print(item)

In [ ]:
bigram_list

In [ ]:
#checking
bigram_pmi

In [ ]:
#df_pcpmi_bigram = pd.DataFrame(columns=['Bi-Phrase','Count','PMI']).sort_values(by='PMI', ascending=False)
df_bigram = pd.DataFrame({'Phrase':phrase_list , 'Count':count_list , 'PMI':pmi_list}) # how to sort this by pmi

In [ ]:
df_trigram = pd.DataFrame({'Phrase':phrase2_list , 'Count' :count2_list, 'PMI':pmi2_list})

In [55]:
df_quadgram = pd.DataFrame({'Phrase': phrase3_list, 'Count': count3_list, 'PMI':pmi3_list})

In [56]:
df_quadgram = df_quadgram.sort_values(by='Count', ascending=False)

In [83]:
df_quadgram

                                  Phrase  Count        PMI
1336           (the, students, and, the)     13   5.476013
1335         (and, the, opportunity, to)     12   8.164491
1334                 (and, out, of, the)     11   8.614202
1333                  (and, it, can, be)     19   8.804104
1332       (and, understanding, of, the)     12   8.886959
...                                  ...    ...        ...
4        (after, school, homework, club)     34  27.850734
3          (and, early, 20th, centuries)     11  27.860815
2               (setting, our, aim, too)     19  27.918236
1     (seeking, guidance, from, experts)     18  28.166498
0                   (our, aim, too, low)     10  29.144632

[1337 rows x 3 columns]

In [58]:
df_quadgram.to_csv('quadgram1.csv', index=False)

In [81]:
# remove parentheses 
clean_phrase = []
for phrases in df_quadgram['Phrase']:
    no_brack = ' '.join(phrases)
    clean_phrase.append(no_brack)
# my_tuple = ('Python', 'Tuple', 'To', 'String')
# result_string = ' '.join(my_tuple)
# print(result_string)

In [86]:
df_quadgram['Phrase'] = clean_phrase

In [94]:
df_quadgram.to_csv('quadgram1.csv', index=False)

In [ ]:
df_trigram = df_trigram.sort_values(by='Count', ascending=False)

In [93]:
df_quadgram

                             Phrase  Count        PMI
1335         and the opportunity to     12   8.164491
1334                 and out of the     11   8.614202
1333                  and it can be     19   8.804104
1332       and understanding of the     12   8.886959
1331               of the world and     15   8.914403
...                             ...    ...        ...
4        after school homework club     34  27.850734
3          and early 20th centuries     11  27.860815
2               setting our aim too     19  27.918236
1     seeking guidance from experts     18  28.166498
0                   our aim too low     10  29.144632

[1336 rows x 3 columns]

In [92]:
df_trigram

      Count        PMI                Phrases
0       788  11.326107      it  is  important
1       694   9.355931      is  important  to
2       512  10.086778         on  the  other
3       512  10.131633          in  order  to
4       496  12.661344       the  other  hand
...     ...        ...                    ...
4323     10   8.257245    attitude  can  make
4324     10   8.249711         it  harder  to
4325     10   8.228961         will  need  to
4326     10   8.196099  both  beneficial  and
4327     10  -2.093969           the  to  the

[4328 rows x 3 columns]

In [90]:
df_quadgram

                             Phrase  Count        PMI
1336           the students and the     13   5.476013
1335         and the opportunity to     12   8.164491
1334                 and out of the     11   8.614202
1333                  and it can be     19   8.804104
1332       and understanding of the     12   8.886959
...                             ...    ...        ...
4        after school homework club     34  27.850734
3          and early 20th centuries     11  27.860815
2               setting our aim too     19  27.918236
1     seeking guidance from experts     18  28.166498
0                   our aim too low     10  29.144632

[1337 rows x 3 columns]

In [91]:
df_quadgram.drop(df_quadgram.loc[df_quadgram['Phrase']=="the students and the"].index, inplace=True)

In [ ]:
df_bigram = df_bigram.sort_values(by='Count', ascending=False)

In [ ]:
df_bigram.head(50)

In [ ]:
df_bigram.to_csv('bigram phrases.csv')

In [ ]:
df_trigram.to_csv('trigram phrases.csv')

In [3]:
import pandas as pd
df_trigram = pd.read_csv(r'C:\Users\Admin\HC3 EDA\GriD\trigram phrases.csv')

In [ ]:
# unnecessary
# gives count

# create a bigram FreqDist object
# bigrams = nltk.bigrams(one_string1.split())
# freq_dist = FreqDist(bigrams) 
# # item
# print('Unique elements in corpus and their counts:')
# for i in freq_dist.items():
#   print(i)
# print()

In [4]:
# combine the phrase parts into one string
df_trigram

      Unnamed: 0                         Phrase  Count        PMI
0           1120      ('it', 'is', 'important')    788  11.326107
1           2092      ('is', 'important', 'to')    694   9.355931
2           1703         ('on', 'the', 'other')    512  10.086778
3           1673          ('in', 'order', 'to')    512  10.131633
4            658       ('the', 'other', 'hand')    496  12.661344
...          ...                            ...    ...        ...
4323        2695    ('attitude', 'can', 'make')     10   8.257245
4324        2699         ('it', 'harder', 'to')     10   8.249711
4325        2715         ('will', 'need', 'to')     10   8.228961
4326        2731  ('both', 'beneficial', 'and')     10   8.196099
4327        4327           ('the', 'to', 'the')     10  -2.093969

[4328 rows x 4 columns]

In [21]:
neat_phrases = []

for tup in df_trigram['Phrase']:
    phrase = " ".join(tup[1:-1].split(",")) 
    phrase = phrase.replace("'", "")
    neat_phrases.append(phrase)

In [ ]:
neat_phrases

In [23]:
df_trigram['Phrases'] = neat_phrases

In [24]:
df_trigram

,Unnamed: 0,Phrase,Count,PMI,Phrases
0,1120,"('it', 'is', 'important')",788,11.326107,it is important
1,2092,"('is', 'important', 'to')",694,9.355931,is important to
2,1703,"('on', 'the', 'other')",512,10.086778,on the other
3,1673,"('in', 'order', 'to')",512,10.131633,in order to
4,658,"('the', 'other', 'hand')",496,12.661344,the other hand
...,...,...,...,...,...
4323,2695,"('attitude', 'can', 'make')",10,8.257245,attitude can make
4324,2699,"('it', 'harder', 'to')",10,8.249711,it harder to
4325,2715,"('will', 'need', 'to')",10,8.228961,will need to
4326,2731,"('both', 'beneficial', 'and')",10,8.196099,both beneficial and
4327,4327,"('the', 'to', 'the')",10,-2.093969,the to the

In [25]:
df_trigram.drop(columns=['Unnamed: 0' , 'Phrase'], inplace=True)

In [26]:
df_trigram

      Count        PMI                Phrases
0       788  11.326107      it  is  important
1       694   9.355931      is  important  to
2       512  10.086778         on  the  other
3       512  10.131633          in  order  to
4       496  12.661344       the  other  hand
...     ...        ...                    ...
4323     10   8.257245    attitude  can  make
4324     10   8.249711         it  harder  to
4325     10   8.228961         will  need  to
4326     10   8.196099  both  beneficial  and
4327     10  -2.093969           the  to  the

[4328 rows x 3 columns]

In [27]:
df_trigram.to_csv('ready trigrams.csv',index=False)

In [44]:
# look for low pmi and high frequency COMMON CHATGPT UNCOMMON HUMAN
low_pmi_df = df_trigram.loc[df_trigram['PMI'] < 5]

In [64]:
# now for quad
low_pmi_df2 = df_quadgram.loc[df_quadgram['PMI'] < 10] # for quad, the lowest pmi score is above 8 !

In [68]:
df_quadgram= df_quadgram.sort_values("PMI")

In [69]:
df_quadgram.head(20)

                             Phrase  Count        PMI
1336      (the, students, and, the)     13   5.476013
1335    (and, the, opportunity, to)     12   8.164491
1334            (and, out, of, the)     11   8.614202
1333             (and, it, can, be)     19   8.804104
1332  (and, understanding, of, the)     12   8.886959
1331          (of, the, world, and)     15   8.914403
1330             (be, one, of, the)     11   9.111583
1329              (is, up, to, the)     14   9.336419
1328             (it, is, not, the)     11   9.351034
1327             (to, learn, in, a)     10   9.422595
1326             (a, part, of, the)     10   9.478018
1325             (to, a, sense, of)     10   9.519370
1324        (important, it, is, to)     10   9.618614
1323           (to, working, in, a)     14   9.619860
1322             (it, can, have, a)     16   9.807884
1321     (both, the, students, and)     10   9.892580
1320           (to, the, power, of)     11  10.048092
1319      (in, the, classroom, and)     13  10.061602
1318        (to, have, a, positive)     11  10.146131
1317        (and, the, ability, to)     27  10.153844

In [72]:
# less than 11
lowish_pmi_quad = df_quadgram.loc[df_quadgram['PMI'] < 11]

In [74]:
len(lowish_pmi_quad)

43

In [75]:
len(df_quadgram)

1337

In [73]:
lowish_pmi_quad['Count'].mean()

16.13953488372093

In [49]:
low_pmi_df.sort_values("Count", ascending=False)

      Count       PMI            Phrases
116      88  4.435353        to  have  a
150      77  4.923616          it  is  a
186      70  4.110780        it  is  the
218      61  3.991271        and  it  is
255      57  3.701502    to  the  school
...     ...       ...                ...
3783     10  0.845095             and  a
3784     10  4.579665    of  failure  in
3785     10  2.516364            on  the
3786     10  4.237282  as  students  can
4327     10 -2.093969       the  to  the

[332 rows x 3 columns]

In [76]:
low_pmi_df.to_csv('low pmi trigrams.csv',index=False)

In [65]:
low_pmi_df2

                             Phrase  Count       PMI
1333             (and, it, can, be)     19  8.804104
1322             (it, can, have, a)     16  9.807884
1331          (of, the, world, and)     15  8.914403
1329              (is, up, to, the)     14  9.336419
1323           (to, working, in, a)     14  9.619860
1336      (the, students, and, the)     13  5.476013
1335    (and, the, opportunity, to)     12  8.164491
1332  (and, understanding, of, the)     12  8.886959
1334            (and, out, of, the)     11  8.614202
1330             (be, one, of, the)     11  9.111583
1328             (it, is, not, the)     11  9.351034
1325             (to, a, sense, of)     10  9.519370
1326             (a, part, of, the)     10  9.478018
1327             (to, learn, in, a)     10  9.422595
1324        (important, it, is, to)     10  9.618614
1321     (both, the, students, and)     10  9.892580

In [46]:
# find average count of low pmi
low_pmi_df['Count'].mean()

16.768072289156628

In [ ]:
from nltk import everygrams

list(everygrams(one_string1.split(), 1, 5))

In [101]:
# 1 find everygrams 2) find their pmis and counts 3) put in dataframe


# Method 1 : Doesnt include everything 
# concat bi,tir and quadgrams into one dataframe

df_bigram = pd.read_csv('bigram phrases.csv')

In [105]:
df_bigram.drop(columns=['Unnamed: 0'], inplace=True)

In [106]:
df_bigram

                     Phrase  Count       PMI
0              ('it', 'is')   2400  4.606781
1             ('of', 'the')   2285  1.802598
2             ('can', 'be')   2258  4.634889
3             ('in', 'the')   2215  2.145940
4             ('on', 'the')   1456  2.924906
...                     ...    ...       ...
8629     ('of', 'teaching')     10  2.256682
8630      ('of', 'reality')     10  2.274829
8631    ('have', 'several')     10  2.275628
8632  ('optimistic', 'and')     10  2.276579
8633     ('and', 'falling')     10  2.960105

[8634 rows x 3 columns]

In [123]:
print(df_bigram['Phrase'].dtype)

object

In [127]:
phrases = [' '.join(eval(phrase)) for phrase in df_bigram['Phrase']]

In [ ]:
phrases

In [129]:
df_bigram['Phrase'] = phrases

In [130]:
df_bigram

              Phrase  Count       PMI
0              it is   2400  4.606781
1             of the   2285  1.802598
2             can be   2258  4.634889
3             in the   2215  2.145940
4             on the   1456  2.924906
...              ...    ...       ...
8629     of teaching     10  2.256682
8630      of reality     10  2.274829
8631    have several     10  2.275628
8632  optimistic and     10  2.276579
8633     and falling     10  2.960105

[8634 rows x 3 columns]

In [131]:
df_trigram

      Count        PMI                Phrases
0       788  11.326107      it  is  important
1       694   9.355931      is  important  to
2       512  10.086778         on  the  other
3       512  10.131633          in  order  to
4       496  12.661344       the  other  hand
...     ...        ...                    ...
4323     10   8.257245    attitude  can  make
4324     10   8.249711         it  harder  to
4325     10   8.228961         will  need  to
4326     10   8.196099  both  beneficial  and
4327     10  -2.093969           the  to  the

[4328 rows x 3 columns]

In [132]:
# reorder the columns in trigram
# creating the DataFrame
df_data = {'Phrase': df_trigram['Phrases'], 
           'Count': df_trigram['Count'], 
           'PMI': df_trigram['PMI']}
df_triram2 = pd.DataFrame(data = df_data)

In [133]:
df_trigram2 = df_triram2
df_trigram2

                     Phrase  Count        PMI
0         it  is  important    788  11.326107
1         is  important  to    694   9.355931
2            on  the  other    512  10.086778
3             in  order  to    512  10.131633
4          the  other  hand    496  12.661344
...                     ...    ...        ...
4323    attitude  can  make     10   8.257245
4324         it  harder  to     10   8.249711
4325         will  need  to     10   8.228961
4326  both  beneficial  and     10   8.196099
4327           the  to  the     10  -2.093969

[4328 rows x 3 columns]

In [134]:
df_quadgram

                             Phrase  Count        PMI
1335         and the opportunity to     12   8.164491
1334                 and out of the     11   8.614202
1333                  and it can be     19   8.804104
1332       and understanding of the     12   8.886959
1331               of the world and     15   8.914403
...                             ...    ...        ...
4        after school homework club     34  27.850734
3          and early 20th centuries     11  27.860815
2               setting our aim too     19  27.918236
1     seeking guidance from experts     18  28.166498
0                   our aim too low     10  29.144632

[1336 rows x 3 columns]

In [139]:
merged_df = pd.concat([df_quadgram,df_trigram2,df_bigram])

In [140]:
merged_df

                        Phrase  Count       PMI
1335    and the opportunity to     12  8.164491
1334            and out of the     11  8.614202
1333             and it can be     19  8.804104
1332  and understanding of the     12  8.886959
1331          of the world and     15  8.914403
...                        ...    ...       ...
8629               of teaching     10  2.256682
8630                of reality     10  2.274829
8631              have several     10  2.275628
8632            optimistic and     10  2.276579
8633               and falling     10  2.960105

[14298 rows x 3 columns]

In [145]:
merged_df = merged_df.sort_values('PMI', ascending =False)

In [146]:
merged_df.head(15)

                            Phrase  Count        PMI
0                  our aim too low     10  29.144632
1    seeking guidance from experts     18  28.166498
2              setting our aim too     19  27.918236
3         and early 20th centuries     11  27.860815
4       after school homework club     34  27.850734
5        already mastered you will     14  27.840469
6   an increasingly popular option     12  27.840215
7           wonderful how much may     13  27.519006
8          mastered you will never     13  27.193504
9             here 's a simplified     10  27.150397
10     after school homework clubs     10  27.062831
11          small acts of kindness     24  27.018153
12             no matter how small     12  26.839840
13            four day school week     91  26.817121
14        do something beyond what     18  26.624140

In [152]:
merged_df = merged_df.drop(axis=0 , index =[3,4])

In [149]:
merged_df

                             Phrase  Count        PMI
0                   our aim too low     10  29.144632
1     seeking guidance from experts     18  28.166498
2               setting our aim too     19  27.918236
3          and early 20th centuries     11  27.860815
4        after school homework club     34  27.850734
...                             ...    ...        ...
7784                        can and     10  -5.166051
3636                        the the     22  -5.549096
5776                          of to     14  -5.558930
6690                         and of     12  -5.691381
4160                         the to     19  -5.771505

[14298 rows x 3 columns]

In [141]:
merged_df.to_csv('merged phrases.csv')

In [118]:
df_bigram2

0
1
2
3
4
       ..
8629
8630
8631
8632
8633
Name: Phrase, Length: 8634, dtype: object

In [107]:
# remove parentheses 
clean_phrase = []
for phrases in df_bigram['Phrase']:
    no_brack = ' '.join(phrases)
    clean_phrase.append(no_brack)

# compar to humans

In [155]:
df_reddit =pd.read_csv(r'C:\Users\Admin\HC3 EDA\reddit_filtered_dataset.csv')

In [158]:
df_reddit_human = df_reddit[df_reddit['Labels']==0]

In [159]:
df_reddit_human

                                                   Data  Labels
0     Of course! The relevant passage is: "As to you...       0
1     I've actually written a bit about this before....       0
3     Incredible answer. This was very well sourced ...       0
5     That is generally what "foraging" implies. It ...       0
6     I find it difficult to impose any sort of rigi...       0
...                                                 ...     ...
6504  You have fluid in your eyeballs. The added pre...       0
6506  Simply said: There aren't any awkward silences...       0
6507  There's this thing called brute forcing. That'...       0
6509  Pretty much. A small quick dip is all that the...       0
6510  Plastics contain lots of very tiny holes. When...       0

[5145 rows x 2 columns]