Human copy

# COMPARE TO HUMANS

This notebook contains code to:
 - remove proper nouns and punctuation from human text ( CONTAINS STOPWORDS BEC USEFUL FOR PHRASES)
 - analyze phrases for word lists with Q ( shows how many proper nouns and makes removing new phrases resulting from removal of prop. nouns easier ) 
 - and without Q ( for the PMI socre to be accurate)

In [16]:
import pandas as pd

In [17]:
df_reddit =pd.read_csv(r'C:\Users\Admin\HC3 EDA\reddit_filtered_dataset.csv')

In [18]:
df_reddit_human = df_reddit[df_reddit['Labels']==0]

In [19]:
df_reddit_human.drop(columns=['Labels'],inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_24384\1010113288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reddit_human.drop(columns=['Labels'],inplace=True)

In [20]:
df_reddit_human

                                                   Data
0     Of course! The relevant passage is: "As to you...
1     I've actually written a bit about this before....
3     Incredible answer. This was very well sourced ...
5     That is generally what "foraging" implies. It ...
6     I find it difficult to impose any sort of rigi...
...                                                 ...
6504  You have fluid in your eyeballs. The added pre...
6506  Simply said: There aren't any awkward silences...
6507  There's this thing called brute forcing. That'...
6509  Pretty much. A small quick dip is all that the...
6510  Plastics contain lots of very tiny holes. When...

[5145 rows x 1 columns]

In [21]:
import nltk
from nltk import *

In [22]:
# clean reddit human
def preprocess(sent):
    sent = nltk.word_tokenize(sent)
    sent = nltk.pos_tag(sent)
    return sent

clean1 = []


try:
  for sentence in df_reddit_human["Data"]:

    # process sentences
    cleane = preprocess(sentence)
    clean1.append(cleane)

except KeyError:
  print("Column 'Data' not found")

In [23]:
# reomve PRP$, ':'and "''" replace w q . ALso  '``' and "''" 
good_words =[]
for pair in clean1:

    for word, tag in pair:
        if tag != "NNP" and tag != ":" and tag != "''" and tag != "``" and tag != ".":
            good_words.append(word.lower())

        elif tag == "NNP": 
            q = "Q"
            good_words.append(q)

        elif tag == ":":
            q = "T" 
            good_words.append(q)

        elif tag == ".":
            q = "T"
            good_words.append(q)

In [24]:
# # without Q
# good_words_Qless =[]
# for pair in clean1:
#     for word, tag in pair:
#         if tag!= "NNP" and tag != ":" and tag != "''" and tag != "``" and tag != ".":
#             good_words_Qless.append(word)

In [25]:
# # with T and Q
# clean_words1 =[]
# for word in good_words:
#     if word != "Q" and word != "T":

#         lowe= word.lower()
#         clean_words1.append(lowe)
#     elif word == "Q":
#         q ="Q"
#         clean_words1.append(q)
#     elif word  == "T":
#         q = "T"
#         clean_words1.append(q)

In [26]:
# # save no Q reddit human words clean
# Qless_df = pd.DataFrame({'Word':clean_words_Qless})
# Qless_df.to_csv("Q-less Reddit Human Cleanish Words.csv", index= False)

In [27]:
# save the reddit human clean to csv
red_df = pd.DataFrame({'Words':good_words})
red_df.to_csv("Q T Reddit Human.csv", index=False)

In [28]:
# # create dataframes
# df_bigram_r1 = pd.DataFrame({'Phrase':phrase_list_r1 , 'Count':count_list_r1 , 'PMI':pmi_list_r1}) 
# df_trigram_r2 = pd.DataFrame({'Phrase':phrase_list_r2 , 'Count': count_list_r2 , 'PMI':pmi_list_r2}) 
# df_quadgram_r3 = pd.DataFrame({'Phrase':phrase_list_r3 , 'Count': count_list_r3 , 'PMI': pmi_list_r3})

# Essays

In [29]:
import pandas as pd
df_essay = pd.read_csv(r"C:\Users\Admin\student vs gpt essays.csv")

In [30]:
df_essay

,id,text,instructions,source_text
0,6060D28C05B6,Some schools in United States ofter classes fr...,\nTask: Write a persuasive essay on whether or...,\nWhen considering the pros and cons of attend...
1,60623DB5DE7A,"Four-day work week, a remarkable idea to conse...",\nTask: Research the advantages and disadvanta...,\nOne of the primary arguments for implementin...
2,607A39D981DE,Students and their families should consider an...,\nTask: \n\n1. Talk to your parents before tak...,\nBefore making any decisions about getting in...
3,60ACDFA1609E,Agree you will never grow if something beyond ...,\nTask: Write an essay discussing the benefits...,"\nRalph Waldo Emerson once said, ""Go confident..."
4,60AE13D3F07B,I think our character traits are formed by inf...,\nTask: Research and discuss how character tra...,\nHuman character traits are shaped by a wide ...
...,...,...,...,...
2416,F5FF5E9E553C,"On september 2, 2015 Generic_Name was entering...",\nTask: Research different kinds of medical pr...,\nBecoming a surgeon requires a great deal of ...
2417,F60545D8271E,I think that schools must have a after school ...,\nTask: Write an essay discussing why schools ...,\nSchools should offer an after school homewor...
2418,F610B3CBF3DF,"Winston Churchill once said ""success consists ...",\nTask: Write an essay about how having a few ...,\nItâ€™s human nature to be afraid to make mista...
2419,F610C7BCD9EC,Technology seems to be becoming more and more ...,\nTask: \n\nWrite an essay exploring the pros ...,\nOne of the main debates of 2020 for many stu...
2420,F6194DEBEFA7,Teenage is a part of life where everyone wants...,\nTask: Analyze and explore the benefits of im...,\nThe implementation of a curfew for teenagers...

In [31]:
human_essay = df_essay['text']

In [32]:
# clean essay 
import nltk
def preprocess(sent):
    sent = nltk.word_tokenize(sent)
    sent = nltk.pos_tag(sent)
    return sent

clean2 = []


try:
  for sentence in human_essay:

    # process sentences
    cleane = preprocess(sentence)
    clean2.append(cleane)

except KeyError:
  print("Column 'Data' not found")

In [33]:
# with T and Q 
good_words2 =[]
for pair in clean2:

    for word, tag in pair:
        if tag != "NNP" and tag != ":" and tag != "''" and tag != "``" and tag != ".":
            good_words2.append(word.lower())

        elif tag == "NNP": 
            q = "Q"
            good_words2.append(q)

        elif tag == ":":
            q = "T" 
            good_words2.append(q)

        elif tag == ".":
            q = "T"
            good_words2.append(q)

In [34]:
# # no Q

# good_words2_Qless =[]
# for pair in clean2:
#     for word, tag in pair:
#         if tag != "NNP" and tag != ":" and tag != "''" and tag != "``" and tag != ".":
#             good_words2_Qless.append(word)

In [35]:
# # lowercase Qless essay words
# clean_words2_Qless =[]
# for word in good_words2_Qless:
#     if word != "Q":

#         lowe= word.lower()
#         clean_words2_Qless.append(lowe)

In [36]:
# save the essay words to csv
ess_df = pd.DataFrame({'Words':good_words2})
ess_df.to_csv("Q T Essay Human.csv", index=False)

In [37]:
# # save the Qless clean words to csv
# ess_df_Qx = pd.DataFrame({'Words':clean_words2_Qless})
# ess_df_Qx.to_csv("Qless Essay Human Words Cleanish .csv", index=False)

In [38]:
# # Qless Essay Phrase analysis


# # initialize collocation for essays 'e' text QLESS
# import nltk
# from nltk.collocations import *

# # init nltk measures
# bigram_measures_e1_Qx = nltk.collocations.BigramAssocMeasures()
# trigram_measures_e2_Qx = nltk.collocations.TrigramAssocMeasures()
# quadgram_measures_e3_Qx = nltk.collocations.QuadgramAssocMeasures()

# # find phrases 
# finder_e1_Qx = BigramCollocationFinder.from_words(clean_words2_Qless)
# finder_e2_Qx = TrigramCollocationFinder.from_words(clean_words2_Qless)
# finder_e3_Qx =QuadgramCollocationFinder.from_words(clean_words2_Qless)

# # only phrases appearing 10+ times
# finder_e1_Qx.apply_freq_filter(10)
# finder_e2_Qx.apply_freq_filter(10)
# finder_e3_Qx.apply_freq_filter(10)


# # define phrase counts
# bigram_freq_e1_Qx = finder_e1_Qx.ngram_fd.items()
# trigram_freq_e2_Qx = finder_e2_Qx.ngram_fd.items()
# quadgram_freq_e3_Qx = finder_e3_Qx.ngram_fd.items()

# # define pmis
# bigram_pmi_e1_Qx = [i for i in finder_e1_Qx.score_ngrams(bigram_measures_e1_Qx.pmi)]
# trigram_pmi_e2_Qx = [i for i in finder_e2_Qx.score_ngrams(trigram_measures_e2_Qx.pmi)]
# quadgram_pmi_e3_Qx = [i for i in finder_e3_Qx.score_ngrams(quadgram_measures_e3_Qx.pmi)]

# # bigram list creation
# pmi_list_e1_Qx =[]
# count_list_e1_Qx =  []
# phrase_list_e1_Qx =[]

# for phrase , pmi in bigram_pmi_e1_Qx:
#     for item in bigram_freq_e1_Qx:
#         bigram, count = item
#         if bigram == phrase:
#             pmi_list_e1_Qx.append(pmi) # pmi for the bigram  = phrase
            count_list_e1_Qx.append(count)  # count for the phrase = bigram 
            phrase_list_e1_Qx.append(phrase) # phrase = bigram
            

#trigram list creation
pmi_list_e2_Qx = []
count_list_e2_Qx =[]
phrase_list_e2_Qx =[]

for phrase, pmi in trigram_pmi_e2_Qx:
    for item in trigram_freq_e2_Qx:
        bigram, count =item
        if bigram == phrase:
            pmi_list_e2_Qx.append(pmi)
            count_list_e2_Qx.append(count)
            phrase_list_e2_Qx.append(phrase)

# quadgram list creation
pmi_list_e3_Qx =[]
count_list_e3_Qx =[]
phrase_list_e3_Qx =[]

for phrase, pmi in quadgram_pmi_e3_Qx:
    for item in quadgram_freq_e3_Qx:
        quadgram, count =item
        if quadgram == phrase:
            pmi_list_e3_Qx.append(pmi)
            count_list_e3_Qx.append(count)
            phrase_list_e3_Qx.append(phrase)

# create dataframes
df_bigram_e1_Qless = pd.DataFrame({'Phrase':phrase_list_e1_Qx , 'Count':count_list_e1_Qx , 'PMI':pmi_list_e1_Qx}) 
df_trigram_e2_Qless = pd.DataFrame({'Phrase':phrase_list_e2_Qx , 'Count': count_list_e2_Qx , 'PMI':pmi_list_e2_Qx}) 
df_quadgram_e3_Qless = pd.DataFrame({'Phrase':phrase_list_e3_Qx , 'Count': count_list_e3_Qx , 'PMI': pmi_list_e3_Qx})

IndentationError: unexpected indent (3295385806.py, line 44)

In [39]:
# WITH Q

# initialize collocation for essays 'e' text
import nltk
from nltk.collocations import *

# init nltk measures
bigram_measures_e1 = nltk.collocations.BigramAssocMeasures()
trigram_measures_e2 = nltk.collocations.TrigramAssocMeasures()
quadgram_measures_e3 = nltk.collocations.QuadgramAssocMeasures()

# find phrases 
finder_e1 = BigramCollocationFinder.from_words(good_words2)
finder_e2 = TrigramCollocationFinder.from_words(good_words2)
finder_e3 =QuadgramCollocationFinder.from_words(good_words2)

# only phrases appearing 10+ times
finder_e1.apply_freq_filter(10)
finder_e2.apply_freq_filter(10)
finder_e3.apply_freq_filter(10)


# define phrase counts
bigram_freq_e1 = finder_e1.ngram_fd.items()
trigram_freq_e2 = finder_e2.ngram_fd.items()
quadgram_freq_e3 = finder_e3.ngram_fd.items()

# define pmis
bigram_pmi_e1 = [i for i in finder_e1.score_ngrams(bigram_measures_e1.pmi)]
trigram_pmi_e2 = [i for i in finder_e2.score_ngrams(trigram_measures_e2.pmi)]
quadgram_pmi_e3 = [i for i in finder_e3.score_ngrams(quadgram_measures_e3.pmi)]

# bigram list creation
pmi_list_e1 =[]
count_list_e1 =  []
phrase_list_e1 =[]

for phrase , pmi in bigram_pmi_e1:
    for item in bigram_freq_e1:
        bigram, count = item
        if bigram == phrase:
            pmi_list_e1.append(pmi) # pmi for the bigram  = phrase
            count_list_e1.append(count)  # count for the phrase = bigram 
            phrase_list_e1.append(phrase) # phrase = bigram
            

#trigram list creation
pmi_list_e2 = []
count_list_e2 =[]
phrase_list_e2 =[]

for phrase, pmi in trigram_pmi_e2:
    for item in trigram_freq_e2:
        bigram, count =item
        if bigram == phrase:
            pmi_list_e2.append(pmi)
            count_list_e2.append(count)
            phrase_list_e2.append(phrase)

# quadgram list creation
pmi_list_e3 =[]
count_list_e3 =[]
phrase_list_e3 =[]

for phrase, pmi in quadgram_pmi_e3:
    for item in quadgram_freq_e3:
        quadgram, count =item
        if quadgram == phrase:
            pmi_list_e3.append(pmi)
            count_list_e3.append(count)
            phrase_list_e3.append(phrase)

# create dataframes
df_bigram_e1 = pd.DataFrame({'Phrase':phrase_list_e1 , 'Count':count_list_e1 , 'PMI':pmi_list_e1}) 
df_trigram_e2 = pd.DataFrame({'Phrase':phrase_list_e2 , 'Count': count_list_e2 , 'PMI':pmi_list_e2}) 
df_quadgram_e3 = pd.DataFrame({'Phrase':phrase_list_e3 , 'Count': count_list_e3 , 'PMI': pmi_list_e3})

In [ ]:
# create dataframes Qless
df_bigram_e1_Qless = pd.DataFrame({'Phrase':phrase_list_e1_Qx , 'Count':count_list_e1_Qx , 'PMI':pmi_list_e1_Qx}) 
df_trigram_e2_Qless = pd.DataFrame({'Phrase':phrase_list_e2_Qx , 'Count': count_list_e2_Qx , 'PMI':pmi_list_e2_Qx}) 
df_quadgram_e3_Qless = pd.DataFrame({'Phrase':phrase_list_e3_Qx , 'Count': count_list_e3_Qx , 'PMI': pmi_list_e3_Qx})

# HC3

In [41]:
# HC3 datasets 
import json

with open(r"C:\Users\Admin\HC3 json file") as f:
  data = json.load(f)

# parse the human
human_answers = []

for row in data['rows']:
  human = row['row']['human_answers']
  human_answers.append(human)

# flatten answers
flat_human = [item for sublist in human_answers for item in sublist]

In [42]:
# clean HC3
import nltk 

def preprocess(sent):
    sent = nltk.word_tokenize(sent)
    sent = nltk.pos_tag(sent)
    return sent

clean3 = []
try:
  for sentence in flat_human:

    # process sentences
    cleane = preprocess(sentence)
    clean3.append(cleane)

except KeyError:
  print("Column 'Data' not found")

In [ ]:
# # HC3 Qless
# good_words3_Qless =[]
# for pair in clean3:

#     for word, tag in pair:
#         if tag != "NNP" and tag != ":" and tag != "''" and tag != "``" and tag != ".":
#             good_words3_Qless.append(word)

            
# clean_words3_Qless =[]
# for word in good_words3_Qless:
    

#     lowe= word.lower()
#     clean_words3_Qless.append(lowe)

In [43]:
# WITH T FOR PUNCT
good_words3 =[]
for pair in clean3:

    for word, tag in pair:
        if tag != "NNP" and tag != ":" and tag != "''" and tag != "``" and tag != ".":
            good_words3.append(word.lower())

        elif tag == "NNP": 
            q = "Q"
            good_words3.append(q)

        elif tag == ":":
            q = "T" 
            good_words3.append(q)

        elif tag == ".":
            q = "T"
            good_words3.append(q)

In [44]:
# save the HC3 words to csv
import pandas as pd
hc3_df = pd.DataFrame({'Words':good_words3})
hc3_df.to_csv("Q T HC3 Human.csv", index=False)

In [ ]:
# # save QLess HC3
# # save the HC3 words to csv
# hc3_df_Qx = pd.DataFrame({'Words':clean_words3_Qless})
# hc3_df_Qx.to_csv("HC3 Human Clean.csv", index=False)

# Observations
> find number  of proper nouns in each of the following: human-essay = 10747 | human-HC3 = 1201 | and human-reddit = 44661  | 56,609 |||
>> count original number of words in each uncleaned corpus | human-HC3 = 35969  | human-reddit = 909307 | human-essay = 1143024   |||  = 2,088,300
>>> count number of T's = periods  | in human-essays= 45613 |  human-HC3= 2007 |  human reddit= 40716  |||

In [45]:
import mean_sentence_length_function

In [46]:
# import mean_sentence_length_function
from mean_sentence_length_function import *

# get number of T = periods in each text
ess_Ts = ess_df.value_counts().get('T',0)
HC_Ts = hc3_df.value_counts().get('T',0)
red_Ts = red_df.value_counts().get('T',0)

HC_mean_sent = average_sent_length(hc3_df,HC_Ts)
ess_mean_sent = average_sent_length(ess_df,ess_Ts)
red_mean_sent = average_sent_length(red_df,red_Ts)

In [ ]:
print(HC_mean_sent)
print(ess_mean_sent)
print(red_mean_sent)

16.92177379172895
24.05917172735843
21.332915807053737

In [ ]:
# AGGREGATE AVERAGE
(16.92177379172895 +24.05917172735843 + 21.332915807053737)/3

20.771287108713704

>>Average human sentence length is 20.771287108713704 words

In [ ]:
hc3_df.value_counts().head(20)

Words
T        2007
the      1601
,        1414
Q        1201
to        972
a         869
and       804
of        689
is        551
it        550
that      498
in        460
you       360
are       304
for       294
's        293
they      284
)         231
be        227
or        218
Name: count, dtype: int64

In [ ]:
ess_df.value_counts().head(20)

In [ ]:
red_df.value_counts().head(20)

Words
the      46435
Q        44661
T        40716
,        39806
of       23140
to       21875
and      19646
a        18832
in       15232
that     12063
is       11396
it       10238
you       6907
for       6697
)         6187
this      6075
as        6062
(         6055
i         6025
was       5707
Name: count, dtype: int64

>>> Now count number of words in text

In [ ]:
def count_words(string):
    st1 = string.strip()
    count = 1
    for i in st1:
        if i == " ":
            count +=1
    return count

In [ ]:
len(ess_df)

1143024

In [ ]:
len(hc3_df)

35969

In [ ]:
len(red_df)

909307

In [ ]:
# # Qless SAME LIST NAMES DIFF Dataframe
# # initialize collocation for HC3 'h' text
# import nltk
# from nltk.collocations import *

# # init nltk measures
# bigram_measures_h1_Qx = nltk.collocations.BigramAssocMeasures()
# trigram_measures_h2_Qx = nltk.collocations.TrigramAssocMeasures()
# quadgram_measures_h3_Qx = nltk.collocations.QuadgramAssocMeasures()

# # find phrases 
# finder_h1_Qx = BigramCollocationFinder.from_words(clean_words3_Qless)
# finder_h2_Qx= TrigramCollocationFinder.from_words(clean_words3_Qless)
# finder_h3_Qx =QuadgramCollocationFinder.from_words(clean_words3_Qless)

# # only phrases appearing 10+ times
# finder_h1_Qx.apply_freq_filter(10)
# finder_h2_Qx.apply_freq_filter(10)
# finder_h3_Qx.apply_freq_filter(10)


# # define phrase counts
# bigram_freq_h1_Qx = finder_h1_Qx.ngram_fd.items()
# trigram_freq_h2_Qx = finder_h2_Qx.ngram_fd.items()
# quadgram_freq_h3_Qx = finder_h3_Qx.ngram_fd.items()

# # define pmis
# bigram_pmi_h1_Qx = [i for i in finder_h1_Qx.score_ngrams(bigram_measures_h1_Qx.pmi)]
# trigram_pmi_h2_Qx = [i for i in finder_h2_Qx.score_ngrams(trigram_measures_h2_Qx.pmi)]
# quadgram_pmi_h3_Qx = [i for i in finder_h3_Qx.score_ngrams(quadgram_measures_h3_Qx.pmi)]

# # bigram list creation
# pmi_list_h1_Qx =[]
# count_list_h1_Qx =  []
# phrase_list_h1_Qx =[]

# for phrase , pmi in bigram_pmi_h1_Qx:
#     for item in bigram_freq_h1_Qx:
#         bigram, count = item
#         if bigram == phrase:
#             pmi_list_h1_Qx.append(pmi) # pmi for the bigram  = phrase
#             count_list_h1_Qx.append(count)  # count for the phrase = bigram 
#             phrase_list_h1_Qx.append(phrase) # phrase = bigram
            

# #trigram list creation
# pmi_list_h2_Qx = []
# count_list_h2_Qx =[]
# phrase_list_h2_Qx =[]

# for phrase, pmi in trigram_pmi_h2_Qx:
#     for item in trigram_freq_h2_Qx:
#         bigram, count =item
#         if bigram == phrase:
#             pmi_list_h2_Qx.append(pmi)
#             count_list_h2_Qx.append(count)
#             phrase_list_h2_Qx.append(phrase)

# # quadgram list creation
# pmi_list_h3_Qx =[]
# count_list_h3_Qx =[]
# phrase_list_h3_Qx =[]

# for phrase, pmi in quadgram_pmi_h3_Qx:
#     for item in quadgram_freq_h3_Qx:
#         quadgram, count =item
#         if quadgram == phrase:
#             pmi_list_h3_Qx.append(pmi)
#             count_list_h3_Qx.append(count)
#             phrase_list_h3_Qx.append(phrase)

# # create dataframes
# df_bigram_h1_Qless = pd.DataFrame({'Phrase':phrase_list_h1_Qx , 'Count':count_list_h1_Qx , 'PMI':pmi_list_h1_Qx}) 
# df_trigram_h2_Qless = pd.DataFrame({'Phrase':phrase_list_h2_Qx , 'Count': count_list_h2_Qx , 'PMI':pmi_list_h2_Qx}) 
# df_quadgram_h3_Qless = pd.DataFrame({'Phrase':phrase_list_h3_Qx , 'Count': count_list_h3_Qx , 'PMI': pmi_list_h3_Qx})

In [47]:
# STEP 1: JOIN ALL LISTS INTO ONE AND CONVERT TO STRING
combo_list = good_words3 + good_words + good_words2
combo_string = ' '.join(combo_list)

In [49]:
HUMAN_list = pd.Series(combo_list)
HUMAN_list.to_csv('QT HUMAN Words List plain.csv', index =False)

In [ ]:
# STEP 2: START BI-TIR-QUAD EVAL; INSTANTIATE
import nltk
from nltk.collocations import *
bigram_measures = nltk.collocations.BigramAssocMeasures()
trigram_measures = nltk.collocations.TrigramAssocMeasures()

# BI
finder = BigramCollocationFinder.from_words(combo_string.split())
finder.apply_freq_filter(10)
#TRI
finder2 = TrigramCollocationFinder.from_words(combo_string.split())
finder2.apply_freq_filter(10)

# QUAD
quadgram_measures = nltk.collocations.QuadgramAssocMeasures()
finder3 =QuadgramCollocationFinder.from_words(combo_string.split())
finder3.apply_freq_filter(10)

In [ ]:
# STEP 3: FIND PMI AND COUNT FOR EACH PHRASE

#pmi
bigram_pmi = [i for i in finder.score_ngrams(bigram_measures.pmi)]
trigram_pmi = [i for i in finder2.score_ngrams(trigram_measures.pmi)]
quadgram_pmi = [i for i in finder3.score_ngrams(quadgram_measures.pmi)]
# count
bigram_freq1 = finder.ngram_fd.items()
trigram_freq1 = finder2.ngram_fd.items()
quadgram_freq1 = finder3.ngram_fd.items()

In [ ]:
# STEP 4a: bigrams
pmi3_list =[]
count3_list =[]
phrase3_list =[]
for phrase, pmi in bigram_pmi:
    for item in bigram_freq1:
        quadgram,count = item
        if quadgram == phrase:
            pmi3_list.append(pmi)
            count3_list.append(count)
            phrase3_list.append(phrase)

                # create dataframe
            df_bigrams = pd.DataFrame({'Phrase':phrase3_list,'PMI':pmi3_list,'Count':count3_list})
 
# remove parentheses and join words into one string 
phrases_clean =[]
for word in df_bigrams['Phrase']:
    brack = ' '.join(word)
    phrases_clean.append(brack)

# now replace in df
df_bigrams['Phrase'] = phrases_clean

df_bigrams.to_csv('QT HUMAN Bigrams V2.csv', index ='False')

In [ ]:
# STEP 4b: trigrams
pmi3_list =[]
count3_list =[]
phrase3_list =[]
for phrase, pmi in trigram_pmi:
    for item in trigram_freq1:
        quadgram,count = item
        if quadgram == phrase:
            pmi3_list.append(pmi)
            count3_list.append(count)
            phrase3_list.append(phrase)

                # create dataframe
            df_trigrams = pd.DataFrame({'Phrase':phrase3_list,'PMI':pmi3_list,'Count':count3_list})
# remove parentheses and join words into one string 
phrases_clean =[]
for word in df_trigrams['Phrase']:
    brack = ' '.join(word)
    phrases_clean.append(brack)

# now replace in df
df_trigrams['Phrase'] = phrases_clean

df_trigrams.to_csv('QT HUMAN Trigrams V2.csv', index ='False')

In [ ]:
# STEP 4c: quadgrams
pmi3_list =[]
count3_list =[]
phrase3_list =[]
for phrase, pmi in quadgram_pmi:
    for item in quadgram_freq1:
        quadgram,count = item
        if quadgram == phrase:
            pmi3_list.append(pmi)
            count3_list.append(count)
            phrase3_list.append(phrase)

                # create dataframe
            df_quadgrams = pd.DataFrame({'Phrase':phrase3_list,'PMI':pmi3_list,'Count':count3_list})
    # return df
phrases_clean =[]
for word in df_quadgrams['Phrase']:
    brack = ' '.join(word)
    phrases_clean.append(brack)

# now replace in df
df_quadgrams['Phrase'] = phrases_clean
# save
df_quadgrams.to_csv('QT HUMAN Quadgrams V2.csv',index= False)

In [ ]:
# concatenate all dfs (9) to evaluate most common and highest pmi across all human and phrase sizes

merged_df = pd.concat([df_bigram_r1,df_bigram_e1,df_bigram_h1,df_trigram_e2,df_trigram_r2,df_trigram_h2,df_quadgram_r3,df_quadgram_h3,df_quadgram_e3])

In [ ]:
df

In [ ]:
# concatenate all QLESSS dfs (9) to evaluate most common and highest pmi across all human and phrase sizes

merged_df_Qx = pd.concat([df_bigram_r1_Qx,df_bigram_e1_Qless,df_bigram_h1_Qless,df_trigram_e2_Qless,df_trigram_r2_Qx,df_trigram_h2_Qless,df_quadgram_r3_Qx,df_quadgram_h3_Qless,df_quadgram_e3_Qless])

In [ ]:
merged_df_Qx

                    Phrase  Count        PMI
0            (vice, versa)   13.0  15.545247
1                (gon, na)   17.0  15.330234
2         (belly, dancing)   10.0  14.745272
3                 (et, al)   36.0  13.691517
4         (voter, turnout)   11.0  13.633836
...                    ...    ...        ...
3289  (to, the, school, ,)   10.0   4.936693
3290        (,, ,, ,, and)   27.0   4.816196
3291    (you, ,, and, you)   12.0   4.663686
3292      (,, and, to, be)   10.0   4.521938
3293      (to, be, ,, and)   10.0   4.521938

[41470 rows x 3 columns]

In [ ]:
good_phrase_Qx =[]
for phrase in merged_df_Qx['Phrase']:
    clean = ' '.join(phrase)
    good_phrase_Qx.append(clean)

In [ ]:
merged_df_Qx['Phrase'] = good_phrase_Qx

In [ ]:
merged_df_Qx

               Phrase  Count        PMI
0          vice versa   13.0  15.545247
1              gon na   17.0  15.330234
2       belly dancing   10.0  14.745272
3               et al   36.0  13.691517
4       voter turnout   11.0  13.633836
...               ...    ...        ...
3289  to the school ,   10.0   4.936693
3290        , , , and   27.0   4.816196
3291    you , and you   12.0   4.663686
3292      , and to be   10.0   4.521938
3293      to be , and   10.0   4.521938

[41470 rows x 3 columns]

In [ ]:
# save Qx to csvc
merged_df_Qx.to_csv('NO Q BI TRI QUAD HUMAN GRAMS.csv')

In [ ]:
merged_df.to_csv('Q BI TRI QUAD HUMAN GRAMS.csv')

In [ ]:
total_rows =len(df_bigram_e1)+len(df_bigram_r1)+len(df_bigram_h1)+len(df_quadgram_h3)+len(df_quadgram_e3)+len(df_quadgram_r3) +len(df_trigram_e2)+len(df_trigram_r2)+len(df_trigram_h2)

In [ ]:
total_rows

46654

In [ ]:
merged_df

                Phrase  Count        PMI
0        (vice, versa)     13  15.687493
1            (gon, na)     17  15.472480
2     (belly, dancing)     10  14.887517
3             (et, al)     36  13.833762
4     (voter, turnout)     11  13.776081
...                ...    ...        ...
4068    (and, Q, Q, Q)     15   2.059183
4069      (,, Q, Q, Q)     16   1.953025
4070    (Q, the, Q, Q)     12   1.498807
4071    (Q, Q, Q, and)     10   1.474220
4072     (to, Q, Q, Q)     14   1.387394

[46654 rows x 3 columns]

In [ ]:
merged_df.to_csv('bi tri quad human metrics.csv', index=False)

In [ ]:
good_phrase =[]
for phrase in merged_df['Phrase']:
    clean = ' '.join(phrase)
    good_phrase.append(clean)

In [ ]:
merged_df['Phrase'] = good_phrase
# run to_csv cell block above again

In [ ]:
# now explore
merged_df = merged_df.sort_values('PMI',ascending=False)

In [ ]:
# remove the firs two rows which are context specific
merged_df = merged_df.drop(axis=0,labels=[0,1])

In [ ]:
merged_df.tail(20)

         Phrase  Count       PMI
9622       of ,     30 -5.077501
14333     to is     19 -5.103449
14334    to can     13 -5.132106
14335   they to     19 -5.138809
14336  the they     15 -5.146041
14337     the a     20 -5.163714
14338   and and     22 -5.163801
14339   can the     10 -5.176812
14340     to to     44 -5.308308
14341  the that     15 -5.310682
14342       a a     11 -5.411723
14343    the is     12 -5.432608
14344     of to     12 -5.438868
14345       i ,     11 -5.443890
14346    to for     11 -5.484278
14347  they and     10 -5.492556
14348     a the     11 -6.026210
14349     to in     10 -6.165500
14350    they Q     10 -6.401111
9623    the the     25 -6.567586

### quadgrams have high pmi and bigrams have negative ; i.e. higher joint prob than indiv vs. higher indiv. porb than joint prob

In [ ]:
merged_df.head(20)

                              Phrase  Count        PMI
2        formed by influences beyond     20  32.803633
3         seek guidance from experts     45  32.645959
2   better familiarize yourself with     53  31.547293
4       retain information as easily     10  31.281380
5      influences beyond our control     25  31.198736
3    providing follow up information     11  31.168131
6    schools offer distance learning     31  30.845589
4         further derail this thread     10  30.669236
5        provide users with in-depth     10  30.572888
7     character formed by influences     10  30.426663
8       tasks without having contact     17  30.330385
9             small acts of kindness     19  30.186502
6        someone capable of engaging     15  29.955864
10     seeking multiple opinions can     21  29.884351
11               setting our aim too     21  29.786959
12           consisting of ten hours     19  29.713366
13       play games without speaking     10  29.641778
14       limitation of human contact     29  29.595761
7     informed response from someone     15  29.582138
15        does inactivity also serve     19  29.518296

In [ ]:
merged_df.sort_values('Count', ascending = False)

                Phrase  Count        PMI
6599               Q Q  19575   1.288013
7726             the Q   6517   0.579915
9495               Q Q   6170   1.150711
3690             Q Q Q   5782   2.941489
4917            of the   5533   2.227228
...                ...    ...        ...
3298        , the best     10   3.977374
1012      young age it     10  11.349398
7320            be any     10   0.851580
10317     reason would     10   0.852112
9735   in everything Q     10   3.910095

[46636 rows x 3 columns]

# top count is significant becausr shows humans use proper nouns a lot 1 , disregard pMI . Maybe add Q's to chatgpt to compare

Bi and Tri Gram notebook conatins code that evaluates chatgpt phrases with and without Q

# the prob with putting Q in place of punct and proper nouns is that pmi is not accurate (i.e. prob of Q )